<div class="participant-item"  
(mouseenter)="onParticipantHovered(participantSg())" 
(mouseleave)="onParticipantUnHovered(participantSg())"
>
  <div 
    class="participant-item__selector"
    [class.participant-item__selector--online]="isOnlineSg()"
   >
    {{ participantSg().name }}
 
    @if(selfIdSg() !== participantSg().id && hoveredParticipantIdSg() === participantSg().id){
    <span class="participant-item__mouseOver-close" (click)="onParticipantRemoveButtonClickHandler(participantSg().id)">
      <i>&nbsp;<mat-icon>close</mat-icon></i>
    </span>
    }
  </div>
</div>
