@if(messagesSg().length > 0) {
  <div class="message-list">
 
    @for (msg of messagesSg(); track $index) {
      <div 
        class="message-list__item"
        [class.message-list__item--not-self]="selfIdSg() !== msg.userId"
      >
        <div 
          class="message-list__item-participant"
          [class.message-list__item-participant--not-self]="selfIdSg() !== msg.userId"
        >
          {{ participantLookupSg()[msg.userId]?.name }}:
        </div>
        <div 
          class="message-list__item-content"
          [class.message-list__item-content--not-self]="selfIdSg() !== msg.userId"
        >
          {{ msg.content }}
        </div>
        <div class="message-list__item-date-isSeen">
            <div
            class="message-list__item-date"
            [class.message-list__item-date--not-self]="selfIdSg() !== msg.userId"
            >{{msg.dateTime | date:'HH:mm:ss'}}
          </div>
        @if(selfIdSg() == msg.userId){
          <div class="message-list_item-isSeen">
            @if(isMsgSeenMapSg()[msg.id] === false){
              <mat-icon class="small-icon">check</mat-icon>
            } @else if (isMsgSeenMapSg()[msg.id] === true) {
              <mat-icon class="small-icon">check</mat-icon>
              <mat-icon class="small-icon">check</mat-icon>
            }
          </div>
        }
        </div>
      </div>
    }
  </div>
  <!-- TODO: error handling -->
} @else if (false) {
  .. something when wrong... 
} @else if (presentLoaderSg()) {
  .. show loader...
} @else {
  ...empty state...
}


