<div class="participant-list">
    @if(participantsSg().length > 0) {
      @for (participant of participantsSg(); track $index) {
          <app-participant-item 
            [participant]="participant"
            [isOnline]="participantOnlineLookupSg()[participant.id] ?? false"
          />
      }
      <div >
        <button  class="participant-list__add-button" (click)=" 
           participantListAddBtnClickHandler();">
          add
        </button>
        @if(isSelfConCreatorSG()){
        <button class="participant-list__delCon-button" (click)=" 
                conversationDeleteBtnClickHandler();">
          delete
        </button>
        }
      </div>
    } @else if (presentListErrorSg()) {
      <!--  TODO: implement some meaningful design -->
      Something went wrong. Please try again later.
    } @else if (presentLoaderSg()) {
      <!--  TODO: implement some meaningful design -->
      loading...
    } @else {
      ... empty state...
    }
 
  </div>

@if(presetParticipantSelectorDialogSg()){
  <centered-overlay (backdropClick)="participantDialogBackdropClickHandler()" [hasBackdrop]="true"  >
    <app-participant-selector-dialog/>
  </centered-overlay>
}