<div class="participant-list">
    @if(participantsSg().length > 0) {
      @for (participant of participantsSg(); track $index) {
          <app-participant-item [participant]="participant"/>
      }
    } @else if (presentListErrorSg()) {
      <!--  TODO: implement some meaningful design -->
      Something went wrong. Please try again later.
    } @else if (presentLoaderSg()) {
      <!--  TODO: implement some meaningful design -->
      loading...
    } @else {
      ... empty state...
    }
  </div>