@use 'variables' as v;

.message-sender {
  display: flex;
  flex-direction: row;
  &__text {
    flex: 1;
    height: 50px;
    background-color: v.$tertiary;

    textarea {
      width: 95%; // Make the textarea stretch
      height: 80%; // Match the height of the container
      border: 1px solid v.$tertiary; // Optional, remove default borders
      border-left: none; 
      padding: 0; // Remove default padding for precise alignment
      margin: 0; // Remove default margin
      resize: none; // Prevent resizing if not needed
      box-sizing: border-box;
      outline: none;
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 48px;
    width: 148px;
    border: 1px solid v.$quinary
  }
}