<div class="participant-selector-dialog">
   <input 
    type="text"
    [placeholder]="'search...'"
    [value]="searchTermSg() ?? null"
    (input)="onSearchInputChange($event)"
   />

   @if(usersSg().length > 0) {
    @for(user of usersSg(); track $index) {
      <div class="participant-selector-dialog__participant-item" >
          <input 
            type="checkbox" 
            [checked]="checkedUserIdsLookupSg()[user.id]"
            (change)="participantCheckboxChangeHandler(user.id)"
        />
        {{ user.name }}
      </div>
      }
   }
  @else {
    <div class="participant-selector-dialog__participant-item" >
    {{ 'No users found.'}}
  </div>
  }
    <button 
      (click)="saveBtnClickHandler()"
      [disabled]="saveButtonDisabledSg()"
    >Save</button>
  </div>