<div class="participant-selector-dialog">
    @for(user of usersSg(); track $index) {
      <!-- [disabled]="isAlreadyParticipant(user.id)"   TODO: explain why is this bad! -->
    <div class="participant-selector-dialog__participant-item" >
        <input 
          type="checkbox" 
          [disabled]="disabledUserIdsLookupSg()[user.id]"
          [checked]="checkedUserIdsLookupSg()[user.id]"
          (change)="participantCheckboxChangeHandler(user.id)"
      />
      {{ user.name }}
    </div>
    }
    <button (click)="saveBtnClickHandler()">Save</button>
  </div>