/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// TODO: should be variables

.pale-azure {
  background-color: #6CCFF6;
}

.rich-black {
  background-color: #001011;
}

.gray {
  background-color: #757780;
}

.baby-powder {
 background-color: #FFFFFC;
}

.yellow-green {
  background-color: #98CE00;
}