@use 'variables' as v;

.conversation-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    height: 60px;
    background-color: v.$quinary;
  }

  &__body { 
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row; 
  }

  &__body-con-list{
    background-color: v.$tertiary;
    width: 80px;
  }

  &__body-con-item {
    background-color: v.$quaternary;
    flex: 1;
  }
}